/* Font Family Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  background: white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  /* disable selecting of site content */
  /* user-select: none;
  -webkit-user-select: none; */

  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #018489;
  --secondary-color: #000411;
  --white-color: #fffbfe;
  --background-color: #eff5f8;
  --background-secondary: #f9f9f9;

  /*========== Font and typography ==========*/
  --heading-font-size: 1.5rem;
  --biggest-font-size: 1.25rem;
  --normal-font-size: 0.838rem;
  --h2-font-size: 1.15rem;
  --small-font-size: 0.713rem;
  --smaller-font-size: 0.65rem;
  --tiny-font-size: 0.625rem;
}

@media screen and (min-width: 968px) {
  :root {
    --heading-font-size: 3rem;
    --biggest-font-size: 1.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
}

a {
  color: #018489;
  text-decoration: none;
  font-weight: 600;
}

.default-padding {
  padding: 2rem 5vw;
}

.full-width {
  width: 100%;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  display: -ms-flexbox;
}

.a-j-center {
  align-items: center;
  justify-content: center;
}

.a-j-space-between {
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
  -ms-flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}
