/* Font Family Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  /* disable selecting of site content */
  /* user-select: none;
  -webkit-user-select: none; */

  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #018489;
  --white-color: #fffbfe;
  --background-color: #edf1fa;
  --secondary-main: #1b364c;

  /*========== Font and typography ==========*/
  --heading-font-size: 1.5rem;
  --biggest-font-size: 1.25rem;
  --normal-font-size: 0.838rem;
  --h2-font-size: 1.15rem;
  --small-font-size: 0.713rem;
  --smaller-font-size: 0.65rem;
  --tiny-font-size: 0.625rem;
}

@media screen and (min-width: 968px) {
  :root {
    --heading-font-size: 3rem;
    --biggest-font-size: 1.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
}

a {
  color: #018489;
  text-decoration: none;
  font-weight: 600;
}

.default-padding {
  padding: 2rem 8vw;
}

.full-width {
  width: 100%;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  display: -ms-flexbox;
}

.flex-one {
  flex: 1;
  -ms-flex: 1;
}

.flex-one-half {
  flex: 1.5;
  -ms-flex: 1.5;
}

.a-j-center {
  align-items: center;
  justify-content: center;
}

.a-j-space-between {
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
  -ms-flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

/* NAVBAR STYLES *********************************************************/

.navbar {
  padding: 2.5rem 8vw;
  background: transparent;
  z-index: 9999;
}

.navbar .navbar__logo h1 {
  color: #018489;
  font-size: 30px;
  font-weight: 600;
}

.navbar__menu__list:not(:last-of-type) {
  margin-right: 1.5rem;
}

.navbar__menu__list__item {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.navbar__menu__list__item:hover,
.navbar__menu__list__item:focus-within {
  color: #018489;
}

.hero {
  min-height: 100vh;
  background: var(--background-color);
}

.hero__text {
  margin-right: 0.5rem;
}

.hero__text h1 {
  font-size: 65px;
  color: var(--secondary-main);
  margin-bottom: 1rem;
}

.hero__text h3 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
}

.hero__text .btn__group button {
  padding: 0.8rem 2rem;
  background: var(--secondary-main);
  color: var(--white-color);
  border: 1px solid var(--secondary-main);
  font-size: 18px;
  border-radius: 4px;
}

.hero__text .btn__group a {
  margin-left: 0.5rem;
  color: var(--secondary-main);
  text-decoration: underline;
}

.hero__image img {
  width: 100%;
  margin-top: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .hero__text h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 1100px) {
  .hero__text h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    flex-direction: column;
    -ms-flex-direction: column;
    padding-top: 9rem;
  }
  .hero__image {
    flex: 1;
    -ms-flex: 1;
    padding: 0;
  }
  .hero__text h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .hero__text h1 {
    font-size: 35px;
  }
}