:root {
  --main-color: #0a2b25;
  --white-color: #fffbfe;
  --background-color: #e4ddd3;
  /*  */
  /* --main-color: #15184d;
  --white-color: #fffbfe;
  --background-color: #f5f5f5; */

  --inter-font: "Inter", sans-serif;

  /* Margine */
  --content-margin: 10%;

  /*------- Font and typography -------*/
  --biggest-font-size: 1.25rem;
  /* https://enzedonline.com/en/tech-blog/create-responsive-font-sizes-based-on-the-viewport/ */
  --font-size-1: clamp(2rem, 1.7993rem + 0.8451vw, 2.75rem);
  --font-size-2: clamp(1.8rem, 1.6261rem + 0.7324vw, 2.45rem);
  --font-size-3: clamp(1.6rem, 1.4662rem + 0.5634vw, 2.1rem);
  --font-size-4: clamp(1.4rem, 1.293rem + 0.4507vw, 1.8rem);
  --font-size-5: clamp(1.2rem, 1.1331rem + 0.2817vw, 1.45rem);
  --font-size-6: clamp(0.9rem, 0.8732rem + 0.1127vw, 1rem);
  --font-size-body: clamp(1rem, 0.9599rem + 0.169vw, 1.15rem);
}

@media screen and (max-width: 750px) {
  :root {
    --content-margin: 5%;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: var(--font-size-body);
  font-family: var(--inter-font), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--background-color);
}

h1 {
  margin: 2rem 0;
  font-weight: 700;
  font-size: var(--font-size-1);
}

h2 {
  margin: 1.8rem 0;
  font-weight: 700;
  font-size: var(--font-size-2);
}

h3 {
  margin: 1.6rem 0;
  font-weight: 800;
  font-size: var(--font-size-3);
}

h4 {
  margin: 1.4rem 0;
  font-weight: 700;
  font-size: var(--font-size-4);
}

h5 {
  margin: 1.2rem 0;
  font-size: var(--font-size-5);
}

h6 {
  margin: 0.9rem 0;
  font-size: var(--font-size-6);
}

small {
  margin: 0.9rem 0;
  font-size: var(--font-size-6);
}

p {
  font-weight: 400;
  margin: 1rem 0;
  font-size: var(--font-size-body);
}

iframe,
video {
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  /* Aspect ratio of 1920x1080 (16:9) (Full HD) is default  */
  /* aspect-ratio: auto 9 / 16; */
}

img,
iframe,
video {
  width: 100%;
}
iframe {
  min-height: 50vh;
}

pre {
  color: white;
  border-radius: 10px;
  background-color: var(--main-color);
}

pre,
code {
  /* font-family: monospace, monospace; */
  background-color: var(--main-color) !important;
}
pre {
  overflow: auto;
}
pre > code {
  word-wrap: normal;
}

.default-padding {
  padding: 2rem var(--content-margin);
}
.default__LR__padding {
  padding: 0 var(--content-margin);
}

.full-width {
  width: 100%;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  display: -ms-flexbox;
}

.flex-one {
  flex: 1;
  -ms-flex: 1;
}

.flex-one-half {
  flex: 1.5;
  -ms-flex: 1.5;
}

.a-j-center {
  align-items: center;
  justify-content: center;
}

.a-j-space-between {
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
  -ms-flex-direction: column;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.made__mark {
  left: 1rem;
  bottom: 15rem;
  transform-origin: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  padding: 0.5rem;
  background: var(--background-color);
  display: block;
}

.made__mark h3 {
  margin: 0;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
}

/* NOVA STYLES */

button {
  background: var(--main-color);
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  line-height: 55px;
  text-align: center;
  font-size: var(--font-size-body);
  font-style: normal;
  font-weight: 700;
  width: 14rem;
  color: white;
  height: auto;
}

button a {
  color: white;
  text-align: center;
  font-size: var(--font-size-body);
  font-style: normal;
  font-weight: 500;
  color: var(--background-color);
  line-height: normal;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 55px;
}

.title__text__wrapper {
  background: var(--main-color);
  padding: 6rem var(--content-margin);
}

.title__text__content h2 {
  color: #fff;
  font-size: var(--font-size-2);
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.title__text__content h3 {
  color: #f3f3f3;
  font-size: var(--font-size-3);
  font-weight: 400;
  text-align: center;
}

.list__block {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1rem;
}

.list__block__item a,
.list__block__item span {
  color: var(--main-color);
  /* font-style: italic; */
}

.list__block__item .rich__text img {
  margin: 0.5rem 0;
}

.list__block__item figcaption {
  text-align: center;
  margin-top: 0.5rem;
}

.list__block__item section {
  padding: 2rem;
  min-height: 50vh;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -ms-flex-direction: column;
}

.list__block__item .title__text__content h2 {
  font-size: var(--font-size-2);
  text-align: center;
}

.list__block__item .title__text__content h3 {
  font-size: var(--font-size-3);
  text-align: center;
  width: 100%;
}

.rich__text a {
  color: var(--main-color);
  text-decoration: underline;
  /* font-style: italic; */
}
.rich__text ul {
  list-style-type: disc;
  padding: 1rem 0;
}
.rich__text ul li {
  padding: 0.5rem 0;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://cdn.traleor.com/dark-cover.png");
  background-size: cover;
  background-position: center;
  padding: 5rem var(--content-margin);
}

.banner__content h2 {
  color: #fff;
  font-size: var(--font-size-2);
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.banner__content h3,
.banner__content h3 p {
  color: #f3f3f3;
  font-weight: 400;
  width: 90%;
  margin: 0;
  text-align: center;
  margin-bottom: 2rem;
}

.list__block__item .banner__content h2 {
  font-size: var(--font-size-2);
  text-align: center;
}

.list__block__item .banner__content h3 {
  font-size: var(--font-size-3);
  text-align: center;
  width: 100%;
}

.banner__content button {
  background: #fff;
  color: var(--main-color);
}

.authors__wrapper {
  margin-bottom: 4rem;
}
.author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2%;
}
.author img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

/* END NOVA STYLES */

/* START */

.container {
  max-width: 100%;
  margin: auto var(--content-margin);
}

a {
  text-decoration: none;
}
header {
  background-color: var(--background-color);
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}

.logo_box {
  width: 136px;
  height: 64px;
}

.logo_box img,
.practice_card img {
  display: block;
  width: 100%;
  height: auto;
}
.menu_links ul {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.menu_links ul li {
  list-style-type: none;
}
.menu_links ul li a {
  text-decoration: none;
  color: black;
}

.line {
  height: 2px;
  background-color: black;
}

.menu_links ul button,
.leftsection button,
.ourpractice_rightsection button,
.btn_box button,
.contact_btn {
  background: var(--main-color);
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  line-height: 55px;
  text-align: center;
  font-size: var(--font-size-body);
  font-style: normal;
  font-weight: 700;
  width: 14rem;
  height: auto;
}

.menu_links ul button a,
.leftsection button a,
.ourpractice_rightsection button a,
.btn_box button a,
.contact_btn a {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: var(--font-size-body);
  font-style: normal;
  font-weight: 500;
  color: var(--background-color);
  line-height: normal;
  font-family: Inter;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 55px;
}
.header_bottom_section {
  padding: 3rem 0;
}
.inner_header_bottom_section {
  display: flex;
  justify-content: space-between;
}
.header_bottom_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_bottom_box p:nth-child(1) {
  color: var(--main-color);
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.header_bottom_box p:nth-child(2) {
  color: var(--primary-1, var(--main-color));
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#header_hero {
  display: flex;
  gap: 5rem;
  padding: 4rem 0 2rem 0;
}

.leftsection {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.leftsection h1 {
  font-size: calc(var(--font-size-1) + 2rem);
}
.leftsection h2 {
  font-weight: 500;
  font-size: var(--font-size-body);
}
.rightsection {
  width: 40%;
  max-width: 100%;
  min-height: 298px;
  background-color: var(--background-color);
}
.rightsection img {
  width: 100%;
  height: 100%;
  display: block;
}

/* SECTION 1 */
.section1 {
  padding: 6rem 0 8rem 0;
  background-color: var(--main-color);
}
.practice_area {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.practice_area .title1 span {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-1);
  margin-bottom: 5px;
}

.practices_box {
  display: flex;
  margin-top: 4rem;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}
.practice_card {
  width: 30%;
  min-height: 20rem;
  border-radius: 10px;
  background: white 50% / cover no-repeat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.practice_contents_box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
}

.practice_contents_box .article1 {
  color: #000;
  font-size: var(--font-size-6);
  font-weight: 500;
  line-height: normal;
}
.practice_contents_box .article2 {
  color: #000;
  font-size: var(--font-size-4);
  font-weight: 700;
  margin: 1.4rem 0;
}
.practice_contents_box .article3 {
  color: #000;
  font-size: var(--font-size-body);
  font-weight: 400;
  line-height: normal;
}

.practice_contents_box a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 29px;
  padding-bottom: 10px;
}

.practice_contents_box .started {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--main-color);
  font-size: var(--font-size-body);
  font-weight: 500;
}

.s_line {
  height: 1px;
  background-color: var(--main-color);
  margin-top: 10px;
}

.section2 {
  background-color: var(--background-color);
  padding: 164px 0 210px 0;
}

.ourpractice_box {
  display: flex;
  gap: 5rem;
}
.ourpractice_leftsection {
  width: 40%;
}
.ourpractice_img_box {
  height: auto;
  width: 100%;
  /* background-color: #c1af95; */
}
.ourpractice_rightsection {
  width: 60%;
}

#worktogether {
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem var(--content-margin);
}

#worktogether h2 {
  color: #fff;
  text-align: center;
}

#worktogether p {
  color: #fff;
  text-align: center;
}

#worktogether button {
  outline: none;
  border: none;
  color: var(--main-color);
  background: var(--white-color);
  box-shadow: -5px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem 4rem;
  margin-top: 2rem;
}

#worktogether button a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--main-color);
  text-align: center;
  font-size: var(--normal-font-size);
  font-weight: 700;
  line-height: normal;
}

.hero_about {
  padding: 4rem 0 6rem 0;
}

.contact_box {
  padding: 2rem 0 6rem 0;
  margin: 0 var(--content-margin);
}

.contact_box h1 {
  color: #000;
  text-align: center;
  font-size: calc(var(--font-size-1) + 1rem);
}

.contact_box h2 {
  color: #000;
  text-align: center;
  font-weight: 400;
  font-size: var(--font-size-1);
  margin-top: 2rem;
}
.contact_form_box {
  display: flex;
  justify-content: center;
}

#main_contact {
  background-color: var(--background-color);
}

.contact_form_box {
  width: 60%;
  margin: auto;
}
.contact_form_box form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 100%;
}

.contact_form_box form input,
.contact_form_box form select,
.contact_form_box form textarea {
  max-width: 100%;
  width: 100%;
  padding: 23px 39px;
  outline: none;
  border: 1px solid var(--main-color);
  background-color: #fff;
}

.contact_form_box form textarea {
  min-height: 268px;
}

.contact_btn {
  margin-top: 2rem;
}

.toggle-menu {
  display: none;
}

.footer {
  background-color: var(--background-color);
  padding: 4rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

/* BLOG HEAD */
.blog_head {
  padding-top: 6rem;
}
.blog_head h2 {
  font-size: var(--font-size-4);
}

/* END BLOG HEAD */

.footer__mark {
  /* text-align: center; */
  background-color: var(--main-color);
}
.footer__mark h4 {
  margin: auto;
  text-align: center;
  color: white;
  padding: 1rem 2rem;
  font-size: var(--font-size-6);
}

.footer-col {
  width: 25%;
  padding: 0 1rem;
}

.footer-col h2 {
  color: var(--main-color);
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: 500;
  position: relative;
  font-size: var(--font-size-4);
}

.footer-col h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--main-color);
  width: 50px;
  height: 2px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: var(--main-color);
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 7px;
}

.footer-col .social-links a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #fff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) {
  /* NAVIGATION */
  .menu_links {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    display: none;
    align-items: center;
    background-color: var(--background-color);
    padding: 0 25px;
    left: 0;
  }

  .menu_links ul {
    display: flex;
    flex-direction: column;
  }
  .toggle-menu {
    display: flex;
  }
  .toggle-menu {
    display: none;
  }

  .toggle {
    display: flex;
    box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
  }

  .toggle-menu {
    background-color: rgba(0, 0, 0);
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px 2px 2px 3px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .menu_line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
  }

  .toggle .line1 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
  }

  .toggle .line2 {
    display: none;
  }

  .toggle .line3 {
    background-color: #000000;
    transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
  }

  .toggle .toggle-menu {
    background-color: white;
  }

  /* SECTION 1 */
  #header_hero {
    flex-direction: column;
  }
  .leftsection,
  .rightsection {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  /* SECTION 2 */
  .practice_card {
    width: 45%;
  }

  /* SECTION 3 */
  .ourpractice_box {
    flex-direction: column;
  }
  .ourpractice_leftsection,
  .ourpractice_rightsection {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .inner_header_bottom_section {
    flex-direction: column;
    gap: 35px;
  }

  .contact_form_box form input,
  .contact_form_box form select,
  .contact_form_box form textarea {
    width: 100%;
  }

  /* SECTION 2 */
  .practices_box,
  .ourpractice_box {
    flex-direction: column;
  }
  .practice_card {
    width: 100%;
  }

  /*  */
  .list__block {
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
