/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  --main-color: #01baef;
  --black-color: #040f16;
  --black-color-light: #0b4f6c;
  --white-color: #fffbfe;
  --background-color: #fbfbff;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: var(--main-color);
}
a:hover {
  cursor: pointer;
}
span {
  color: var(--main-color);
}

button {
  cursor: pointer;
  border: 0;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  background-color: rgba(1, 186, 239, 0.1);
  border: 1px solid rgba(1, 186, 239, 0.5);
  backdrop-filter: blur(30px);
  color: var(--white-color);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
/****** NAVIGATION BAR ******/
/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--black-color);
  overflow: hidden;
  padding: 2% 5% 1% 5%;
}

/* Style the links inside the navigation bar */
.topnav a h1 {
  margin: 0;
}
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}
.topnav a:first-child {
  float: left;
  font-size: large;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: var(--main-color);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* ******************Welcome Section***************** */
.welcomeContent {
  /* height: 89vh; */
  background: var(--black-color);
  border-bottom-left-radius: 100px;
}
.grid {
  display: flex;
  color: var(--white-color);
  padding: 0 0 0 5%;
}
.gridChild {
  padding: 2% 5% 0 5%;
  flex: 50%;
}
.welcomeImage {
  width: 100%;
  height: 90%;
}
.landingTextSection {
  flex: 50%;
  padding: 10% 0 16% 1%;
  font-size: 1.5rem;
  line-height: 2rem;
}
.landingTextSection h1 {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 4rem;
  font-weight: 500;
}
.aboutMeButton {
  padding: 4% 8%;
}
.linkAboutMe h3 {
  color: var(--main-color);
}

/* *********************Article Display Section****************** */
.gridSection {
  margin: 5%;
}
.gridHeading {
  text-align: center;
  padding: 3% 0 0 0;
  font-size: x-large;
}
.subCategory h2 {
  margin: 0;
  padding-top: 2%;
}
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: var(--background-color); */
  /* padding: 0.3%; */
  padding-left: 0%;
  /* grid-gap: 5% ; */
}

.gridItem {
  height: fit-content;
  padding: 4% 4% 4% 0;
  margin: 2% 0 0 0;
}
.gridItemLeft {
  margin: 2% 8% 0 0;
}
.gridItemRight {
  margin: 2% 0 0 8%;
}
.dateWritten {
  margin: 0 0 2% 0;
  color: var(--main-color);
  font-size: small;
}
.articleHeading {
  margin: 1% 0 2% 0;
  text-align: left;
  font-size: large;
  text-transform: capitalize;
}
.articleImage {
  width: 100%;
}
.aboutArticle {
  margin: 0;
  font-weight: 500;
  font-size: medium;
  line-height: 1.3rem;
}
.readingButton {
  margin-top: 3%;
  background-color: transparent;
  padding: 1%;
  border: none;
  border-bottom: 0.5px solid var(--main-color);
  color: var(--main-color);
  font-size: small;
  font-weight: bolder;
}

/* **************** shareIconsBottom************ */
.shareIconsBottom {
  display: none;
}

/* *************FOOTER************** */
.footerSection {
  background-color: var(--black-color);
  padding: 2%;
  text-align: center;
}
.getInTouch {
  color: var(--white-color);
}
.contact a {
  padding: 1%;
}
/* *********************************STYLES FOR THE ARTICLE PAGE***************************************** */

/* ******************Entire article body******************** */
.articleBody {
  padding: 0 15% 0 15%;
}
/* *******************************Header of article page************************ */
.articlepostHeading h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}
.articleAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.authorImage {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.articleAuthor h2 {
  font-size: medium;
  padding: 0 2% 0 2%;
}
.articleAuthor h3 {
  font-size: medium;
  padding: 0 0 0 0.5%;
}

figure {
  width: 70vw;
  margin: 0;
  padding: 0 0 2% 0;
}
.articleImg img {
  width: 100%;
  height: 70vh;
}
.articleImg figcaption {
  /* margin-left: 20%; */
  font-size: 12px;
  color: #3f3e3e;
}

/* ******************Body of article***************** */

.shareIcons {
  display: none;
}
.showIcons {
  display: block;
  padding-left: 3%;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.showIcons h2 {
  font-size: medium;
}

.iconContainer {
  padding: 4% 0;
}

.iconContainer a {
  color: var(--black-color-light);
  font-size: small;
}

.socialIcons {
  width: 1rem;
  margin-right: 1px;
}

.iconContainer {
  display: flex;
}
.iconContainer h6 {
  margin: 0.5% 0 0 1%;
  padding: 1.2% 0 0 2.5%;
  color: #3f3e3e;
}

.blogContent img,
.blogContent iframe,
.blogContent video {
  width: 100%;
}

.blogContent p {
  line-height: 2rem;
}

/* *******************ABOUT PAGE STYLES************** */
.aboutContainer {
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}
.aboutContainer img,
.aboutContainer iframe,
.aboutContainer video {
  width: 100%;
}

.leftChild {
  flex: 20;
  width: 100%;
}

.rightChild {
  flex: 60;
  padding: 0 5% 0 5%;
}
.aboutPageText h1 {
  font-size: xx-large;
  text-transform: uppercase;
}
.aboutPageText p {
  line-height: 2rem;
}
.shareIconsAbout {
  display: flex;
}
.shareIconsAbout .iconContainer {
  padding: 0 4% 0 0;
}

/* **************************MEDIA QUERIES**************************** */

@media screen and (max-width: 950px) {
  /* **********************NAVBAR************************ */
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /* ****************Welcome Section*************** */
  .grid {
    flex-wrap: wrap;
    padding: 0 0 0 4%;
  }
  .landingTextSection {
    padding: 0 5% 0 5%;

    line-height: 1.5rem;
  }
  .welcomeImage {
    width: 85%;
    height: 75%;
  }
  .landingTextSection {
    /* flex: 50%; */
    padding: 5% 0 5% 5%;
    font-size: 1rem;
    line-height: 1.8rem;
    height: fit-content;
  }
  .landingTextSection h1 {
    padding: 0.6rem 0 0 0;
    /* padding-bottom: 0; */
    font-size: 2rem;
  }
  .aboutMeButton {
    padding: 3% 7% 3% 7%;
    height: fit-content;
  }
  .welcomeContent {
    height: 110%;
  }
  .welcomeContainer {
    height: max-content;
  }

  /* *********************Article Display Section****************** */
  .gridSection {
    margin: 3% 8% 0 8%;
  }
  .gridHeading h1 {
    padding: 0;
    font-size: x-large;
    margin: 1% 0 1% 0;
  }
  .subCategory h3 {
    margin: 1% 0 0 0;
    padding-top: 2%;
    font-size: medium;
  }
  .gridContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .gridItem {
    padding: 1%;
    margin: 2% 5% 3% 3%;
  }
  .articleImage {
    width: 100%;
  }
  .articleHeading {
    margin: 1% 0 2% 0;
    font-size: small;
  }
  .aboutArticle {
    font-weight: 400;
    font-size: small;
    line-height: 1rem;
  }
  .articleImg img {
    height: 50vh;
  }
  .blogContent p {
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 0 0 0 1rem;
  }
  .contact a img {
    width: 1.5rem;
  }
  .shareIcons h5 {
    margin: 0 0 1rem 0;
  }
  .socialIcons {
    width: 1rem;
  }

  /* *******************ARTICLE PAGE*********** */
  .articlepostHeading h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .authorImage {
    width: 2rem;
    height: 2rem;
  }
  .articleAuthor h2,
  .articleAuthor h3 {
    font-size: 0.6rem;
  }
  /* *******************ABOUT PAGE STYLES************** */

  .aboutContainer {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
  }
  .sectionContainer {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3%;
  }
  .smallScreenImage {
    display: flex;
    width: 3%;
  }

  .leftChild {
    text-align: center;
  }
  .leftChild img {
    width: 10%;
    border-radius: 10%;
  }
  .rightChild h1,
  .rightChild h2 {
    text-align: center;
    margin: 1% 0 0 0;
    font-size: large;
    text-transform: capitalize;
  }
}

/* ***********GALAXT FOLD****************** */
@media (max-width: 500px) {
  .navBarContainer a,
  .landingTextSection,
  .rightNavItem {
    font-size: small;
  }
  .landingTextSection h1 {
    font-size: medium;
  }
  /* *******************ARTICLE PAGE*********** */
  .topnav a h1 {
    font-size: 1.2rem;
  }
  .articlepostHeading h1 {
    font-size: 1.2rem;
  }
  .articleAuthor h4 {
    font-size: 0.66rem;
  }
  .articleImg img {
    height: 30vh;
  }
  .blogContent p {
    line-height: 1.3rem;
    font-size: 0.8rem;
  }
  .showIcons {
    display: none;
  }
  .navVisitBtn {
    padding: 4%;
  }
  .blogContent p {
    padding: 0 0 0 0;
  }

  .shareIconsBottom {
    display: flex;
    margin-left: 15%;
  }
  .shareIconsBottom .iconContainer {
    padding: 0 2% 0 2%;
  }
  .shareIconsBottom h4 {
    margin: 0 2% 0 0;
  }
}
