*{
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Nunito", sans-serif;
/* disable selecting of site content  */
    user-select: none;
    -webkit-user-select: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #150189;
    --white-color: #fffbfe;
    --background-color: #edf1fa;
    --secondary-color: #0d0b1a;
  
    /*------- Font and typography -------*/
    --biggest-font-size: 1.25rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.6rem;
    --h3-font-size: 2.2rem;
    --h4-font-size: 1.8rem;
    --normal-font-size: 1.2rem;
    --small-font-size: 0.713rem;
    --tiny-font-size: 0.625rem;
  }

@media screen and (min-width: 1900px) {
    :root {
      --biggest-font-size: 1.5rem;
      --h1-font-size: 3.2rem;
      --h2-font-size: 2.8rem;
      --h3-font-size: 2.4rem;
      --h4-font-size: 2rem;
      --normal-font-size: 1.8rem;
      --small-font-size: 0.875rem;
      --tiny-font-size: 0.688rem;
    }
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    color: var(--white-color);
    background-color: var(--secondary-color );
    /* background-color: var(--secondary-color); */
}

h1{
    font-size: var(--h1-font-size);
}
h2{
    font-size: var(--h2-font-size);
}
h3{
    font-size: var(--h3 -font-size);
}
.container{
    max-width: 1166px;
    margin: 0 auto;
}

/***************************** navbar ***********************/
  #a{order:1;}
  #b{order:2;}
  #c{order:3;}
  #d{order:1;}

  .navbar {
    display: flex;
    width: 100%;
    /* left: 0; */
    padding: 3% 15% 3% 0%;
    align-items: center;
    justify-content: space-between;
  }
  .navbar input, .responsive__nav {
    display: none;
  }
  .left__menu ul, .right__menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left__menu li a, .right__menu li a {
    color: var(--white-color);
    font-weight: bolder;
    padding: 0 16px;
    text-transform: uppercase;
  }
  .left__menu li a:hover,
  .right__menu li a:hover,
  .left__menu li a:focus-within,
  .right__menu li a:focus-within {
    color: var(--main-color);
}


/* When menu checked */
  .navbar input:checked ~ .responsive__nav{
    top: 0;
  }
  .navbar input:checked ~ label .hamburger__menu {
    transform: translateX(-50px);
    background: transparent;
  }
  .navbar input:checked ~ label .hamburger__menu::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  
  .navbar input:checked ~ label .hamburger__menu::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  /* **************NavBar ends here  ************/


.banner{
    height: 100vh;
    z-index: 1;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
}

.banner .text{
    text-align: center;
    padding-bottom: 100px;
}

.banner h1{
    line-height: 80px;
    font-weight: 300;
    margin-bottom: 10px;
}

/* *****GLOBAL BUTTON STYLE**** */
.btn{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 60px;
    background-color: var(--background-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    z-index: 9;
    margin-top: 50px;
    transition: all ease 0.5s;
    /* border-radius: 10px; */
}

/* This effects changes the button color on hover  */
.btn:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--secondary-color);
    opacity: .9;
    z-index: -1;
    transition: all ease 0.5s;
}
.btn:hover{
    color: var(--white-color);
}
.btn:hover:before{
    top: 0;
    height: 100%;
}

.brand__logo{
    padding: 30px;
}
.brand__logo__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} 

.sec1{
    position: relative;
    padding:80px 0 ;
}
.sec1 h3{
    text-transform: uppercase;
    line-height: 40px;
}
.sec1 p{
    line-height: 32px;
}
.sec1__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec1 .text{
    width: 47%;
}
.sec1 .text__left{
    text-align: right;
}
.sec1 .text__right{
    text-align: left;
}
.sec1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, var(--white-color),transparent);
}
.sec1:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, var(--white-color),transparent);
} 

.sec2{
    padding: 100px 0 0;
}
.sec2 h2{
    text-transform: uppercase;
}
.sec2 p{
    line-height: 30px ;
}
.sec2__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sec2__inner img{
    width: auto;
}
.sec2__inner .text{
    width: 50%;
    margin-left: -65px;
    z-index: 9;
}
.sec2 .text__inner{
    position: relative;
    margin: 55px 0 0 190px;  
}
.sec2 .text__inner:before{
    content:'';
    position: absolute;
    top: 8px;
    left: -30px;
    width: 1px;
    height: 100%;
    background: linear-gradient(to top, transparent, var(--white-color));
}

.left__right__sec:nth-child(even) .text{
    margin-right: -65px;
    text-align: right;
}
.left__right__sec:nth-child(even) .text__inner{
   margin: 55px 190px 0 0;
}
.left__right__sec:nth-child(even) .text__inner:before{
    left: inherit;
    right: -30px;
 }

 .sec3{
    padding: 150px 0 0;
 }
 .sec3 h2{
    text-transform: uppercase;
    max-width: 60%;
 }
 .sec3__slider{
    margin-top: 90px;
 }
 .slick-arrow{
    position: absolute;
    top: -160px;
 }
 .slick-prev{
    left: inherit;
    right: 180px;
 }
 .slick-next{
    right: 90px;
 }
 .slick-next:before, .slick-prev:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white-color) url(../images/arrow-next.svg) no-repeat;
    background-size: 14px;
    background-position: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid var(--white-color);
    opacity: 1;
 }
 .slick-prev:before{
    background: transparent url(../images/arrow-prev.svg) no-repeat;
    background-size: 14px;
    background-position: center;
 }



 .sec4{
    padding: 100px 0;
 }

 .sec4 h2{
    text-transform: uppercase;
 }
 .sec4__boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
 }
 .box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    min-height: 270px;
    border: 1px solid var(--white-color);
    margin-bottom: 40px;
    overflow: hidden;
 }
 .box h6{
    font-size: 18px;
    font-weight: 400px;
 }
.sec4__boxes .img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all ease 1s;
}
.box:hover .img{
    opacity: 1;
}

footer{
    position: relative;
    padding: 50px 0;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__inner .col{
    padding-right: 50px;
}
footer ul{
    margin-left: 0;
}
footer ul li{
    margin-bottom: 30px;   
}
footer ul li a{
    color: var(--white-color);
    font-size: 14px;
}
footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, var(--white-color),transparent);
}
footer:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, var(--white-color),transparent);
}

.copyright{
    padding: 25px 0;
    text-align: center;
}
.copyright p{
    font-size: 14px;
}


/* **************************MEDIA QUERIES**************************** */

@media screen and (max-width: 950px) {
 /* **********************NAVBAR************************ */
 /* #a{order:1;} */
 #b{order:1;}
 /* #c{order:3;} */
 #d{order:2;}

 .left__menu, .right__menu{
    display: none;
 }
 .menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .hamburger__menu::before,
  .hamburger__menu::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--main-color);
    border-radius: 5px;
    transition: all 0.5s ease;
  }

  .hamburger__menu::before {
    transform: translateY(-8px);
  }

  .hamburger__menu::after {
    transform: translateY(8px);
  }

  .hamburger__menu {
    width: 20px;
    height: 2px;
    background: var(--main-color);
    border-radius: 5px;
    z-index: 10;
    transition: all 0.5s ease;
  }  
  .responsive__nav {
    display: flex;
    flex-direction: column;
    top: -600%;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 500%;
    margin: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(4, 15, 22, 0.8);
    backdrop-filter: blur(20px);
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }
  .responsive__nav li {
    font-size: 1.5rem;
    padding: 15% 10%;
    /* border-bottom: 0.5px solid var(--main-color); */
    transition: all 0.2s ease-out;
  }
 
  .responsive__nav li a:hover {
    color: var(--white-color);
    letter-spacing: 5px;
  }


  .navbar{
    padding: 3% 10%;
  }
}
